@media screen and (max-width: 600px) {
    .navbar ul{
     flex-direction: column;
     position: absolute;
     top: 50px;
     background-color: black;
    } 
    label.menu{
     display: block;
     margin-left: 10px;
    }
    #checkbox-menu:checked ~ ul{
     display: block;
    }
    }